* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container {
	width: 70%;
	margin: 0 auto;
}

body {
	background-color: #000000;
	color: white;
	text-align: center;
}

h1 {
	font-size: 70px;
}

.headline p {
	font-style: italic;
	color: #b3b3b3;
	font-size: 20px;
}

.logo {
	width: 175px;
	height: 35px;
	margin: 0 auto;
	/* margin-top: 70px; */
}

.footline {
	color: black;
	height: 15px;
	width: 1940.65px;
	background-color: #c0a156;
	font-size: 14px;
}

.pink {
	color: #f25185;
}

.green {
	color: #96e489;
}

.white {
	font-weight: bolder;
}
