* {
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
	box-sizing: border-box;
}

.container {
	width: 70%;
	margin: 0 auto;
}

body {
	font-family: "General Sans", sans-serif;
	margin-top: 35px;
	background-color: #000000;
	color: white;
	text-align: center;
}

.discover {
	margin-top: 60px;
	width: 444px;
	height: 65px;
}

.arrow {
	position: relative;
	top: 50px;
	right: 20px;
	width: 41.5px;
	height: 40px;
}

.headline p {
	margin-top: 5px;
	font-style: italic;
	color: #b3b3b3;
	font-size: 20px;
}

.content {
	margin-top: 40px;
	text-align: justify;
	font-size: 24px;
}

.logo {
	width: 175px;
	height: 35px;
	margin: 0 auto;
	/* margin-top: 70px; */
}

.regbtn {
	margin-left: 320px;
	font-size: 26px;
	border: 1px solid #60b3dc;
	border-radius: 8px;
	background-color: #000000;
	color: white;
	width: 230px;
	height: 60px;
	font-weight: 700;
	box-shadow: 5px 5px #60b3dc;
}

.regbtn a {
	text-decoration: none;
	color: white;
}

.dates {
	margin-top: 40px;
	font-size: 23px;
	text-align: justify;
}

.datetext {
	position: relative;
	left: 100px;
	bottom: 45px;
}

.calendar {
	width: 43px;
	height: 43px;
}

.links {
	margin-top: 40px;
	font-size: 23px;
	text-align: justify;
}

.linktext {
	position: relative;
	left: 100px;
	bottom: 45px;
}

.tools {
	width: 43px;
	height: 43px;
}

.links a {
	color: #60b3dc;
}

.socials {
	font-size: 22px;
	margin-top: 15px;
	text-align: justify;
}

.socials a {
	color: white;
}

footer {
	margin-top: 100px;
	margin-bottom: 20px;
	overflow: hidden;
}

.footline {
	color: black;
	height: 17px;
	width: 1940.65px;
	background-color: #c0a156;
	font-size: 14px;
}

.pink {
	color: #f25185;
}

.green {
	color: #96e489;
}

.white {
	font-weight: bolder;
}

.icon {
	width: 24px;
	height: 24px;
}

.top-left {
	width: 380px;
	height: 250px;
	position: absolute;
	left: 0;
	top: 0;
}

.bottom-left {
	width: 110px;
	height: 270px;
	position: absolute;
	left: 0;
	/* bottom: -750px; */
}

.bottom-right {
	width: 200px;
	height: 180px;
	position: absolute;
	right: 0;
	/* bottom: -750px; */
}

.top-right {
	width: 230px;
	height: 220px;
	position: absolute;
	right: 0;
	top: 0;
}

/*     RESPONSIVENESS       */
